.App, html {
  margin: auto;
  text-align: center;
  padding: 10px;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 60vw;
}

.form {
  display: flex;
  flex-shrink: 1;
  border: 1px solid;
  justify-content: space-between;
  align-items: center;

}

.input {
  height: 24px;
  border: none;
  width:60vw;
}

.addIcon {
  cursor: pointer;
  border-left: none;
  border: none
}

.item {
  display: flex;
  align-items: center;
  flex-direction: row;  
  justify-content: space-between;
}

li {
  font-size: 15px;
  text-align: left;
  font-weight: normal;
}

.checked {
  color: gray;
  text-decoration:  line-through;;
}

.settingBtns {
  cursor: pointer;
  gap: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.item-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}